/* === Fonts === */
@font-face {
    font-family: 'Caudex';
    src: url('./assets/fonts/Caudex/Caudex-Regular.ttf');
}

@font-face {
    font-family: 'Caudex';
    src: url('./assets/fonts/Caudex/Caudex-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'FuturaLT';
    src: url('./assets/fonts/futura-lt/FuturaLT-Light.ttf');
}

@font-face {
    font-family: 'FuturaLT';
    src: url('./assets/fonts/futura-lt/FuturaLT.ttf');
    font-weight: bold; 
}


/* === CSS Variables === */
:root {
    /* -- Colors -- */
    /* Primary */
    --primary-100: #a39994; 
    --primary-200: #948882;
    --primary-300: #857771;
    --primary-400: #75665f;
    --primary-500: #66554d; 
    --primary-600: #5c4d45;
    --primary-700: #52443e;
    --primary-800: #473b36;
    --primary-900: #3d332e;

    /* Secondary */
    --secondary-100: #b5a9a1;
    --secondary-200: #a89b92;
    --secondary-300: #9c8d82;
    --secondary-400: #8f7e73;
    --secondary-500: #837063;
    --secondary-600: #766559;
    --secondary-700: #695a4f;
    --secondary-800: #5c4e45;
    --secondary-900: #4f433b;

    /* Tertiary */
    --tertiary-100: #9c998b;
    --tertiary-200: #8c8878;
    --tertiary-300: #7b7765;
    --tertiary-400: #6b6651;
    --tertiary-500: #5a553e;
    --tertiary-600: #514d38;
    --tertiary-700: #484432;
    --tertiary-800: #3f3b2b;
    --tertiary-900: #363325;

    /* Quaternary */
    --quaternary-100: #d3cbc4;
    --quaternary-200: #ccc3ba;
    --quaternary-300: #c5bab1;
    --quaternary-400: #bdb2a7;
    --quaternary-500: #b6a99d;
    --quaternary-600: #a4988d;
    --quaternary-700: #92877e;
    --quaternary-800: #7f766e;
    --quaternary-900: #6d655e;

    /* Grey */
    --grey-50: #f3f3f3; 
    --grey-100: #e8e8e8;
    --grey-200: #d1d1d1;
    --grey-300: #bababa;
    --grey-400: #a3a3a3;
    --grey-500: #8c8c8c;
    --grey-600: #747474;
    --grey-700: #5d5d5d;
    --grey-800: #464646;
    --grey-900: #2f2f2f;

    /* Black & White */
    --black: #181818; 
    --white: rgb(250, 250, 250); 

    /* Alerts */
    --red: #ff0019;
    --red-light: #f8d7da; 
    --red-dark: #9f1924; 
    --green-light: #d1e7dd;
    --green-dark: #0f5132;


    /* -- Fonts -- */
    --heading-font: 'Caudex', sans-serif;
    --body-font: 'FuturaLT', sans-serif;
    --small-text: .7em;


    /* --- Box Shadow -- */
    --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06); 
    --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
    --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -2px rgba(0, 0, 0, .05);
    --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, .1), 0 10px 10px -5px rgba(0, 0, 0, .04);


    /* --- Dark Mode --- */
    --dark-mode-bg-color: #333;
    --dark-mode-text-color: #f0f0f0;
    --dark-mode-bg-secondary-color: #3f3f3f;
    --dark-mode-text-secondary-color: var(--grey-300);

    --background-color: var(--grey-50);
    --text-color: var(--grey-900);
    --background-secondary-color: var(--white);
    --text-secondary-color: var(--grey-500);


    /* -- Other -- */
    --background-color: var(--white);
    --text-color: var(--black); 
    --border-radius: .25rem; 
    --letter-spacing: 1px; 
    --transition: .3s ease-in-out all; 
    --max-width: 1120px; 
    --fixed-width: 600px; 
    --padding: .375rem .75rem; 
}


/* === Reset === */
*, 
::before, 
::after {
    margin: 0;
    padding: 0; 
    box-sizing: border-box; 
}


/* === Dark Mode === */
.dark__theme {
    --text-color: var(--dark-mode-text-color);
    --background-color: var(--dark-mode-bg-color);
    --text-secondary-color: var(--dark-mode-text-secondary-color);
    --background-secondary-color: var(--dark-mode-bg-secondary-color);
}


html {
    font-size: 100%; /* 16px */
} 

body, 
#root {
    background: var(--background-color);
    font-family: var(--body-font);
    line-height: 1.75;
    color: var(--text-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    z-index: auto; 
}

p {
    margin-bottom: 1.5rem;
}

h1, 
h2, 
h3, 
h4, 
h5 {
    margin: 0;
    margin-bottom: 1.38rem;
    font-family: var(--heading-font);
    line-height: 1.3;
}

h1 {
    margin-top: 0;
    font-size: 5rem; /* 80px */
}

h2 {
    font-size: 2.5rem; /* 40px */
}

h3 {
    font-size: 2rem; /* 32px */
}

h4 {
    font-size: 1.5rem; /* 24px */
}

h5 {
    font-size: 1.25rem; /* 20px */
}

@media screen and (min-width: 640px) {
    h1 {
        font-size: 5.5rem; 
    }
    
    h2 {
        font-size: 3rem; 
    }
}

@media screen and (min-width: 1024px) {
    h1 {
        font-size: 5rem; 
    }
    
    h2 {
        font-size: 4rem; 
    }
    
    h3 {
        font-size: 2.25rem; 
    }
    
    h4 {
        font-size: 1.75rem; 
    }
    
    h5 {
        font-size: 1.5rem; 
    }

    p, input, textarea, select, button, li {
        font-size: 1.125rem; 
    }
}

@media screen and (min-width: 1200px) {
    h1 {
        font-size: 6rem; 
    }
    
    h3 {
        font-size: 2.5rem; 
    }
    
    h4 {
        font-size: 2rem; 
    }
    
    h5 {
        font-size: 1.55rem; 
    }

    p, input, textarea, select, button, li {
        font-size: 1.25rem; 
    }
}

small, 
.text__small {
    font-size: var(--small-text);
}


/* === Link === */
a {
    text-decoration: none;
}


/* === Lists === */
ul { 
    list-style: none; 
    padding: 0; 
}


/* === Image === */
.img {
    width: 100%; 
    display: block; 
    object-fit: cover; 
}


/* === Button === */
.btn {
    cursor: pointer; 
    color: var(--white); 
    background: var(--primary-500); 
    border: transparent; 
    border-radius: var(--border-radius); 
    letter-spacing: var(--letter-spacing); 
    padding: var(--padding); 
    box-shadow: var(--shadow-1);
    transition: var(--transition);
    text-transform: capitalize; 
    display: inline-block; 
}

.btn:hover {
    background: var(--primary-700); 
    box-shadow: var(--shadow-3); 
}

.btn__revert {
    color: var(--primary-500); 
    background: var(--primary-200); 
}

.btn__revert:hover {
    color: var(--primary-200); 
    background: var(--primary-700); 
}

.btn__block {
    width: 100%; 
}

button:disable {
    cursor: not-allowed; 
    opacity: .5; 
}

.btn__danger {
    color: var(--red-dark); 
    background: var(--red-light); 
}

.btn__danger:hover {
    color: var(--white); 
    background: var(--red-dark); 
}


/* === Alert === */
.alert {
    padding: var(--padding); 
    margin-bottom: 1rem; 
    border-color: transparent; 
    border-radius: var(--border-radius);
}

.alert__danger {
    color: var(--red-dark); 
    background: var(--red-light); 
}

.alert__success {
    color: var(--green-dark); 
    background: var(--green-light); 
}


/* === Form === */
.form {
    width: 90vw; 
    max-width: var(--fixed-width); 
    background: var(--white); 
    border-radius: var(--border-radius); 
    box-shadow: var(--shadow-2);
    padding: 2rem 2.5rem;
    margin: 3rem auto;
}

.form__label { 
    display: block; 
    font-size: var(--small-text); 
    margin-bottom: .75rem; 
    text-transform: capitalize; 
    letter-spacing: var(--letter-spacing); 
    line-height: 1.5; 
}

.form__input, 
.form__textarea, 
.form__select {
    width: 100%; 
    padding: var(--padding); 
    border-radius: var(--border-radius); 
    background: var(--background-color); 
    border: 1px solid var(--grey-200); 
    color: var(--text-color);
}

.form__textarea {
    height: 7rem; 
}

.form__input, 
.form__select,
.from__btn {
    height: 35px; 
}

.form__row {
    margin-bottom: 1rem; 
}

::placeholder {
    font-family: inherit; 
    color: var(--grey-400); 
}

.form__alert {
    color: var(--red-dark); 
    letter-spacing: var(--letter-spacing); 
    text-transform: capitalize; 
}


/* === Loader === */
@keyframes spinner {
    to {
        transform: rotate(360deg); 
    }
}

.loader {
    width: 6rem; 
    height: 6rem; 
    border: 5px solid var(--grey-400); 
    border-radius: 50%; 
    border-top-color: var(--primary-500); 
    animation: spinner .6s linear infinite; 
    margin: 0 auto;
}