footer {
    background: var(--white); 
    padding-top: 60px; 
    color: var(--black); 
    margin-top: auto;
}

section.footer-top > .btn-appointment {
    height: 60px; 
    background: var(--tertiary-500);
    border: none;
    border-radius: 30px; 
    width: 90%; 
    margin: 0 auto 40px auto;
}

section.footer-top > .btn-appointment:hover {
    background: var(--tertiary-500);
}

section.footer-top > .btn-appointment > a {
    color: var(--white); 
    font-size: 1em;
    font-weight: bold; 
    text-transform: uppercase; 
    letter-spacing: 1px; 
}

section.footer-top, 
section.footer-bottom { 
    margin: 0 4%; 
}

section.footer-top {
    display: grid; 
    border-bottom: 1px solid #18181860; 
    padding-bottom: 20px; 
}

section.footer-top .footer-info {
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    row-gap: 40px; 
    margin-bottom: 10px; 
}

section.footer-top .column {
    display: flex; 
    flex-direction: column;
    text-align: left; 
    line-height: 1.4em;  
}

section.footer-top h4 {
    margin: 0 0 20px; 
    font-size: 1.25em; 
}

section.footer-top p, 
section.footer-top a {
    margin: 0;
    font-size: .875em;  
}

section.footer-top a, 
section.footer-bottom a {
    color: var(--black); 
    cursor: pointer; 
    line-height: 2em; 
}

section.footer-top .navigation {
    grid-column: 1/2;
    grid-row: 1/2;
}

section.footer-top .navigation-items {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    gap: 10px; 
    width: 100%; 
}

section.footer-top .nav-links {
    display: flex; 
    flex-direction: column;
}

section.footer-top .contact {
    grid-column: 1/4;
    grid-row: 2/3;
}

#footer-mail, 
#footer-phone {
    font-size: inherit; 
    line-height: inherit; 
}

section.footer-top .schedule {
    grid-column: 1/4;
    grid-row: 3/4;
}

section.footer-top .socials {
    grid-column: 1/4;
    grid-row: 4/5;
}

section.footer-top .socials-links {
    bottom: 10px; 
    display: flex; 
    align-items: center; 
    gap: 12px; 
    height: 56px;
}

section.footer-top .socials-links > a {
    font-size: 20px; 
    color: var(--black); 
    width: 36px; 
    height: 36px; 
    display: grid; 
    place-items: center; 
    border-radius: 50%; 
    border: 1px solid var(--black);
}

.socials :is(p) {
    display: none; 
}

section.footer-top .navigate {
    align-self: start; 
    margin: 0 auto; 
    grid-column: 3/4; 
}

section.footer-top .back-to-top {
    background-color: var(--white); 
    width: 70px; 
    height: 70px; 
    display: grid; 
    place-items: center; 
    border-radius: 50%; 
    border: 1px solid var(--black);
    cursor: pointer; 
}

section.footer-top .logo {
    height: 100px; 
    margin: 0 auto; 
    grid-column: 2/3; 
    grid-row: 1/2; 
}

section.footer-bottom {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    flex-direction: column-reverse; 
    gap: 15px; 
    padding: 20px 0;
    text-align: center; 
}

section.footer-bottom .legal, 
section.footer-bottom .copyright {
    font-size: 14px; 
}


section.footer-bottom .legal > a:not(:last-of-type) {
    margin: 0 20px 0 0; 
}

section.footer-bottom .legal > a, 
section.footer-bottom .copyright {
    white-space: nowrap; 
    display: inline-block; 
}

/* Tablets */ 
@media screen and (min-width: 640px) {
    section.footer-top .footer-info {
        grid-template-columns: 1fr 2fr 2fr;
        column-gap: 20px; 
    }

    section.footer-top .logo {
        margin: 0 0 50px; 
    }

    section.footer-top > .btn-appointment {
        width: 70%; 
        font-size: 1.25em; 
    }

    section.footer-top .navigation {
        grid-column: 2/3;
        grid-row: 1/2; 
    }

    section.footer-top .contact {
        grid-column: 3/4;
        grid-row: 1/2; 
    }

    section.footer-top .schedule {
        grid-column: 2/3;
        grid-row: 2/3; 
    }

    section.footer-top .socials {
        grid-column: 3/4;
        grid-row: 2/3; 
    }

    section.footer-top .navigate {
        grid-column: 1/2;
        grid-row: 2/3;
        align-self: center; 
    }

    section.footer-top .logo {
        grid-column: 1/2;
        grid-row: 1/2;
        margin: 0 auto; 
        align-self: center; 
    }

    .socials :is(p) {
        display: block; 
    }

    section.footer-bottom { 
        display: flex; 
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        gap: 20px; 
        text-align: left; 
    }

    section.footer-bottom p {
        margin: 0; 
    }
}

/* Desktops */
@media screen and (min-width: 1024px) {
    footer {
        margin: 0 4%; 
    }

    section.footer-top, 
    section.footer-bottom { 
        margin: 0 auto; 
        max-width: 1440px; 
    }

    section.footer-top > .btn-appointment {
        width: 50%; 
        font-size: 1.5em;
    }

    section.footer-top .footer-info {
        grid-template-columns: 100px 0.8fr 1fr 1fr 1fr;
        row-gap: 20px; 
        margin: 0 auto 10px auto;
    }

    section.footer-top .navigation {
        grid-column: 2/3;
        grid-row: 1/3; 
    }

    section.footer-top .contact {
        grid-column: 3/4;
        grid-row: 1/3; 
    }

    section.footer-top .schedule {
        grid-column: 4/5;
        grid-row: 1/3;  
    }

    section.footer-top .socials {
        grid-column: 5/6;
        grid-row: 1/3; 
    }

    section.footer-top .navigate {
        grid-column: 1/2;
        grid-row: 2/3; 
        align-self: center; 
    }

    section.footer-top .logo {
        grid-column: 1/2;
        grid-row: 1/2;
        margin: 0 auto; 
        align-self: center; 
    }

    section.footer-bottom {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

/* Large desktops */
@media screen and (min-width: 1200px) {
    section.footer-top .footer-info {
        grid-template-columns: .8fr 0.8fr 1fr 1fr 1fr;
    }

    section.footer-top .btn-appointment {
        width: 40%; 
    }
}