section.home-hero {
    background-repeat: no-repeat;  
    background-size: cover; 
    background-position: 60% 55%; 
    height: calc(100vh - 80px); 

    .hero-content {
        display: flex; 
        flex-direction: column;
        padding-top: 25vh; 
        margin-left: 5vw;

        h1 {
            color: var(--white);
            margin: 0; 
        }
    
        h2 {
            font-size: 1.25rem;
            color: var(--white);
            margin-top: 6px;
            margin-bottom: 20px;
        }
    
        button {
            background: var(--tertiary-500);
            padding: 15px 30px;
            border-radius: 30px; 
            width: 70%; 
            margin-top: 6px; 
        }
    }
}

section.home-card {
    display: grid; 
    grid-template-columns: 1fr; 

    .card-content {
        div {           
            h3, h4 {
                font-weight: normal; 
            }

            p {
                text-align: justify;
            }
        }
    }

    .card-image {
        img {
            object-fit: cover; 
            object-position: 50% 50%; 
        }
    }
}

section.first-card {
    .card-content {
        background-color: var(--tertiary-500);
        color: var(--white); 

        div {
            margin: 60px 10% 100px 10%;
        }
    }

    .card-image {
        display: flex; 
        flex-direction: column; 
        flex-wrap: nowrap; 
        justify-content: flex-start; 
        align-self: center; 
        row-gap: 3.2vw; 
        margin: -60px 10% 60px 10%;

        img {
            width: 100%;
            max-height: 500px;
        } 
    }
}

section.second-card {
    .card-content {
        color: var(--black); 

        div {
            margin: 40px 10% 80px 10%;
        }
    }
    
    .card-image {
        background-color: var(--secondary-500);

        img {
            width: 80%; 
            max-height: 400px; 
            margin: -10% 10% 10% 10%;
        }
    }
}

section.home-video {
    margin: 50px 0 40px 0;

    video {
        width: 100%; 
        height: auto;
        max-height: 700px; 
        background-color: var(--grey-500);
    }
}

section.home-warning {
    margin: 10%;

    div {
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        justify-content: center; 
        margin-bottom: 20px; 
    }

    p {
        text-align: justify; 
    }
}

section.home-reviews {
    display: grid; 
    grid-template-columns: 1fr; 
    row-gap: 50px; 
    margin-top: 100px; 

    .review {
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        justify-content: center; 
        
        .review-content {
            text-align: center; 
            color: var(--white); 
            padding: 0 8%;

            p {
                margin: 10px 0;  
            }

        }
        
        img {
            width: 80px; 
            height: 80px; 
            border-radius: 50%; 
            margin-top: -40px; 
            margin-bottom: 10px;
            border: 2px solid var(--grey-200); 
        }
    }
}

.review:nth-child(1) {
    background-color: var(--secondary-500);
}

.review:nth-child(2) {
    background-color: var(--primary-500);
}

.review:nth-child(3) {
    background-color: var(--tertiary-500);
}

@media screen and (min-width: 640px) {
    section.home-hero {
        .hero-content {
            padding-top: 45vh; 
            width: max-content;

            h2 {
                font-size: 1.5rem;
            }

            button {
                font-size: 1.175rem;
                width: 50%; 
            }
        }
    }

    section.home-card {
        .card-image {
            grid-row: 1 /2; 
        }
    }

    section.first-card {
        .card-content {
            margin-top: -100px; 

            div {
               margin: 140px 4% 60px 4%;
            }
        }

        .card-image {
            flex-direction: row; 
            flex-wrap: wrap; 
            justify-content: space-between; 
            margin: 4% 4% 0 4%;
            column-gap: 1.85vw;
            grid-row: 1 /2; 

            img {
                height: 100%;
                width: calc(((33.3% - ((0px + 0px) + 1.227vw)) - 1px));
            }
        }
    }

    section.second-card {
        grid-template-columns: 0.5fr 80px 1fr; 
        margin-bottom: 50px; 

        .card-content {
            grid-column: 3 / 4; 
            grid-row: 1 / 2;
            align-self: center; 

            div {
                margin: 40px 8% 20px 10%;
            }
            
        }

        .card-background {
            grid-column: 1 / 2; 
            grid-row: 1 / 2;

            background-color: var(--secondary-500);
        }

        .card-image {
            background-color: transparent; 

            grid-column: 1 / 3; 
            grid-row: 1 / 2;
            margin: 50px 0 50px 10%; 
            align-self: center; 

            img {
                width: 100%; 
                height: auto;
                margin: 0; 
            }
        }
    }

    section.home-warning {
        margin: 0 4%; 
    }

    section.home-reviews {
        grid-template-columns: 1fr 1fr 1fr; 
        height: 300px;

        .review {
            display:grid; 

            .review-content {
                grid-column: 1 / 2; 
                grid-row: 1 / 2; 

                h3 {
                    margin-bottom: 0; 
                }
            }

            img {
                justify-self: center;
                margin-top: -290px;
                grid-column: 1 / 2; 
                grid-row: 1 / 2; 
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    section.home-hero {
        background-position: 50% 55%; 

        .hero-content {
            display: flex; 
            flex-direction: column;
            padding-top: 30vh; 
        
            h2 {
                font-size: 1.75rem;
            }
        
            button {
                font-size: 1.25rem;
                width: 60%;
            }
        }
    }

    section.home-card {
        .card-content {
            div {           
                h3, h4 {
                    font-weight: normal; 
                }
            }
        }
    }

    section.first-card {
        grid-template-columns: 1fr 100px 1fr;

        .card-content {
            display: grid; 
            grid-template-columns: 100px 1fr; 
            justify-content: center; 
            align-items: center; 
            grid-column: 2 / 4;
            grid-row: 1 / 2;
            margin: 0; 
            align-self: center; 
    
            div {
                grid-column: 2 / 3;
                margin: 50px 30px; 
            }
        }
    
        .card-image {
            flex-wrap: nowrap; 
            grid-column: 1 / 3; 
            column-gap: 0; 
            margin: 30px 0 30px 4%; 
    
            img {
                min-height: 42vh; 
                height: auto; 
                width: calc(((33.3% - ((0px + 0px) + 0.805vw)) - 1px));
            }
        }
    }

    section.second-card {
        grid-template-columns: 0.8fr 100px 1fr; 
    } 

    section.home-reviews {
        .review {    
            img {
                width: 100px; 
                height: 100px; 
            }
        }
    }
}

@media screen and (min-width: 1200px) {   
    section.home-card {
        .card-content {
            div {           
                h3 {
                    font-weight: normal; 
                }
    
                h4 {
                    font-weight: normal;
                }
            }
        }
    }
    
    section.first-card {
        grid-template-columns: 1.6fr 100px 1fr;

        .card-content {
            div {
                margin: 60px; 
            }
        }

        .card-image {
            margin-top: 60px; 
            margin-left: 8%; 
            margin-bottom: 60px; 
        }
    }
}