main.login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -20px;

    .back-home {
        position: absolute;
        top: 30px;
        left: 30px;
        line-height: 0;
        transition: color 0.3s ease;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--grey-700);
            border: 2px solid var(--grey-700);
            border-radius: 50%;
            height: 60px;
            width: 60px;
        }

        a:hover {
            color: var(--black);
            border-color: var(--black);
            box-shadow: var(--shadow-2);
            transition: all 0.3s ease;
        }
    }

    .container {
        background: #fff;
        border-radius: 10px;
        box-shadow: var(--shadow-5);
        position: relative;
        overflow: hidden;
        width: 768px;
        max-width: 100%;
        min-height: 500px;

        h2 {
            font-size: 50px;
            margin: 0;
        }

        p {
            line-height: 20px;
            letter-spacing: 0.5px;
            margin: 20px 0 30px;
        }

        span {
            font-size: 14px;
        }

        a {
            color: var(--black);
        }

        button {
            border-radius: 30px;
            border: 1px solid var(--secondary-500);
            background: var(--secondary-500);
            color: var(--white);
            font-size: 16px;
            font-weight: bold;
            padding: 12px 45px;
            letter-spacing: 1px;
            text-transform: uppercase;
            transition: transform 80ms ease-in;
        }

        button:active {
            transform: scale(0.95);
        }

        button:focus {
            outline: none;
        }

        .form-container {
            position: absolute;
            top: 0;
            height: 100%;
            transition: all 0.6s ease-in-out;

            form {
                display: flex;
                flex-direction: column;
                padding: 0 50px;
                height: 100%;
                background: #fff;
                justify-content: center;
                align-items: center;
                text-align: center;

                input:not([type='checkbox']) {
                    background: var(--grey-50);
                    border: 1px solid transparent;
                    border-radius: 5px;
                    padding: 10px 15px;
                    margin: 6px 0;
                    width: 100%;
                }

                input:focus {
                    outline-color: var(--secondary-500);
                }

                input.incorrect {
                    border-color: var(--red-dark);
                }

                button {
                    margin-top: 20px;
                }

                .social-container {
                    margin: 20px 0 15px 0;

                    a {
                        border: 1px solid var(--grey-200);
                        border-radius: 50%;
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        margin: 0 5px;
                        height: 40px;
                        width: 40px;
                    }
                }
            }

            &.sign-in-container {
                left: 0;
                width: 50%;
                z-index: 2;

                .remember-me {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    margin: 6px 0;

                    input[type='checkbox'] {
                        scale: 1.2;
                    }

                    label {
                        font-size: 16px;
                        margin-left: 10px;
                    }
                }
            }

            &.register-container {
                left: 0;
                width: 50%;
                opacity: 0;
                z-index: 1;
            }
        }

        .overlay-container {
            position: absolute;
            top: 0;
            left: 50%;
            width: 50%;
            height: 100%;
            overflow: hidden;
            transition: transform 0.6s ease-in-out;
            z-index: 100;

            .overlay {
                background: var(--primary-400);
                background: linear-gradient(to right, var(--primary-600), var(--primary-200)) no-repeat 0 0 / cover;

                color: var(--white);
                position: relative;
                left: -100%;
                height: 100%;
                width: 200%;
                transform: translateX(0);
                transition: transform 0.6s ease-in-out;

                .overlay-panel {
                    position: absolute;
                    top: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    padding: 0 40px;
                    height: 100%;
                    width: 50%;
                    transform: translateX(0);
                    transition: transform 0.6s ease-in-out;

                    &.overlay-right {
                        right: 0;
                        transform: translateX(0);
                    }

                    &.overlay-left {
                        transform: translateX(-20%);
                    }

                    button.ghost {
                        background: transparent;
                        border-color: var(--white);
                    }
                }
            }
        }

        /* Animations */
        &.right-panel-active {
            .form-container {
                /* Move sign in to the right */
                &.sign-in-container {
                    transform: translateX(100%);
                    opacity: 0;
                }

                /* Bring sign up over sign in */
                &.register-container {
                    transform: translateX(100%);
                    opacity: 1;
                    z-index: 5;
                }
            }

            /* Move overlay to the left */
            .overlay-container {
                transform: translateX(-100%);

                /* Move overlay back to the right */
                .overlay {
                    transform: translateX(50%);

                    /* Bring sign in back to center */
                    .overlay-left {
                        transform: translateX(0);
                    }

                    /* Move overlay back to the left */
                    .overlay-right {
                        transform: translateX(20%);
                    }
                }
            }
        }
    }
}
