header,
.nav-bar {
    width: 100%;
    height: 80px;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    background: var(--primary-500);
    box-shadow: var(--shadow-3);
    transition: 0.3s;
}

.nav-bar > .logo-nav {
    width: 60px;
    margin-left: 20px;
    cursor: pointer;
}

.logo-nav > img {
    width: 100%;
    object-fit: cover;
}

.nav-bar.open > .logo-nav {
    visibility: hidden;
}

button {
    border: 0;
    padding: 0;
    background: transparent;
    cursor: pointer;
}

.burger,
.burger.desktop-version {
    z-index: 4;
    margin-right: 20px;
    display: grid;
    place-items: center;
    width: 40px;
    height: 40px;
    background-image: url(../images/svg/burger.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.burger.open,
.burger.open.desktop-version {
    color: var(--white);
    background-image: url(../images/svg/close.svg);
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
}

.menu nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu.open {
    opacity: 1;
    visibility: visible;
}

.menu a {
    position: relative;
    color: var(--white);
    padding: 12px 0;
    text-decoration: none;
    text-transform: capitalize;
    opacity: 0;
    cursor: pointer;
    transition: 0.4s;
}

.menu a,
.menu a::before,
.menu a::after {
    transition: 0.4s;
}

.menu a:not(:first-of-type)::before,
.menu a:not(:first-of-type)::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    height: 2px;
    border-radius: 2px;
}

.menu a::before {
    opacity: 0;
    background: #fafafa33;
}

.menu a::after {
    transform: scaleX(0);
    transform-origin: 0% 50%;
    background: var(--white);
}

.menu a:hover::before {
    opacity: 1;
}

.menu a:hover::after {
    transform: scaleX(1);
}

.menu nav:hover > a {
    opacity: 0.25;
}

.menu nav > a:hover {
    opacity: 1;
}

.menu.open a {
    opacity: 1;
}

a.active {
    color: var(--primary-500);
    font-weight: bold;
}

.menu .login,
.menu .logged-user {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    padding: 0;
}

/* Mobile & Tablets */
@media screen and (max-width: 1023px) {
    .nav-bar:not(.open) > .logo-nav {
        z-index: 3;
    }

    .nav-bar > .logo-nav {
        width: 60px;
        margin-left: 20px;
        cursor: pointer;
    }

    .nav-bar.open {
        background-color: var(--background-color);
    }

    .burger.mobile-version,
    .burger.desktop-version {
        display: none;
    }

    .background {
        position: fixed;
        z-index: 2;
        top: 44px;
        left: 44px;
        aspect-ratio: 1/1;
        translate: -50% -50%;
        height: 88px;
        background: var(--black);
        border-radius: 50%;
        opacity: 0;
        transition: 0.6s;
    }

    .background.open {
        height: 400vh;
        opacity: 0.95;
    }

    .menu {
        z-index: 3;
        height: 100%;
        opacity: 0;
        visibility: hidden;
        transition: 0.05s;
    }

    .menu nav {
        flex-direction: column;
        margin: 0 auto;
    }

    .menu a {
        font-size: 1.75em;
    }

    .menu .login,
    .menu .logged-user {
        position: absolute;
        top: calc((80px / 2) - (42px / 2));
        left: 30px;
    }

    .appear.user {
        padding: 0;
    }

    .logged-user span {
        /* Font size 24px */
        font-size: 24px;
    }

    .menu .login {
        font-size: 1.5em;
    }

    .logout {
        margin-left: 20px;
    }

    .login > svg {
        margin-right: 15px;
    }

    @keyframes appear {
        0% {
            opacity: 0;
            translate: 0 30px;
        }
        100% {
            opacity: 1;
        }
    }

    .appear {
        animation: appear 0.35s backwards;
    }

    .page {
        transition: 0.6s;
    }

    .page.open {
        filter: blur(10px);
    }
}

/* Desktop */
@media screen and (min-width: 1024px) {
    .nav-bar {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
    }

    .burger.open:not(.desktop-version) {
        display: none;
    }

    .background,
    .background.open {
        display: none;
    }

    .burger.open.desktop-version {
        right: 0px;
    }

    .desktop-version {
        width: 100%;
        height: 80px;
    }

    .desktop-version.open:not(.burger) {
        position: fixed;
        background-color: var(--grey-900);
        z-index: 3;
        animation: appear 1s;
    }

    @keyframes appear {
        0% {
            translate: -100vw 0;
        }
        100% {
            translate: 0 0;
            transition: ease-in-out;
        }
    }

    .menu {
        height: 80px;
        background: var(--grey-900);
        translate: -100% 0;
        transition: translate 1s cubic-bezier(0.175, 0.885, 0.32, 1);
    }

    .menu.open {
        translate: 0;
        animation: menu-in 0.5s;
    }

    @keyframes menu-in {
        0% {
            clip-path: ellipse(60% 60% at 0% 50%);
        }
        100% {
            clip-path: ellipse(120% 120% at 0% 50%);
        }
    }

    .menu nav {
        flex-direction: row;
        justify-content: left;
        width: 100%;
    }

    .menu a {
        font-size: 1.175em;
        margin: 0 20px;
    }

    .menu .login,
    .menu .logged-user {
        position: absolute;
        top: calc((80px / 2) - (32.89px / 2));
        right: calc(60px + 2%);
        font-size: 1.175em;
    }

    .menu .logged-user {
        top: auto;
    }

    .login > svg {
        margin-right: 15px;
    }
}

#user-picture {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.user {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user,
.logout {
    cursor: pointer;
}

.logout {
    width: 26px;
    height: 26px;
    color: var(--red-light);
}

.logout:hover {
    color: var(--red-dark);
}
